html {
    background-color: #000;
}

body {
    min-height: 100vh;
    height: auto;
    font-size: 12px;
}

img {
    max-width: 100%;
    height:auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans Condensed', sans-serif;
}

#body-login {
    background: url('/images/hogwarts-front-page-v2.jpg') no-repeat fixed center; 
    background-size: auto 100%;
}

#main-header {
    color: #f3cb3b;
}

#main-footer {
    background-color: #000;
    color: #fff;
    font-size: 10px;
}

.edit-model-form > tr td[first-child] {
    width: 1%;
    white-space: nowrap;
    text-align: right;
    font-weight: 900;
}