<span class="badge badge-info float-right" style="font-size: 18px;">Balance: <%= current_wizard.balance %></span>
<h1>Hogwarts Shop!</h1>

<div class="row">
    <div class="col-md-8">
        <% if current_wizard.wand == nil %>
            <div class="alert alert-primary text-center">
                Hey, <%= current_wizard.name.split[0] %>! Looks like you could use a wand! Browse through our wands to find the perfect one for you!
            </div>
        <% end %>
    </div>
</div>