<% if is_current_session? @wizard %>
    <form action="/logout" method="POST">
        <button type="submit" class="btn btn-outline-danger btn-sm float-right">Logout</button>
    </form>
<% end %>
<h1><%= @wizard.name %></h1>

